@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.main-sidebar {
  background-color: $bg-primary;
  border-right: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
  width: 276px;
  position: relative;
  padding: 10px;
  height: 100vh;
  z-index: 100;

  &.closed {
    width: 60px;
  }

  @media (max-width: 1099px) {
    position: fixed;
    left: 0;
    top: 0;
    width: 216px;
    padding: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;

    &.open {
      transform: translateX(0);
    }

    &.closed {
      transform: translateX(calc(-276px + 30px));
      width: 276px;
    }
  }
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.sidebar-bottom {
  margin-top: auto;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.character-animation-container {
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.8s ease;

  &.ready {
    opacity: 1;
  }
}

/* Sidebar Toggle Button */
.sidebar-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 12px;
  color: $accent-main;
  transition: color 0.2s ease;
  align-self: flex-end;

  &:hover {
    color: $accent-hover;
  }
}

.opened-icon {
  display: flex;
  font-size: 10px;
  transition: color 0.2s ease;
  text-align: end;
}

/* Sidebar Navigation */
.sidebar-nav {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px;
}

/* Navigation Links styled as Buttons */
.nav-link {
  display: block;
  padding: 12px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  transition: all 0.2s ease;
  border-bottom: 1px solid rgba($accent-main, 0.2);
  cursor: pointer;
  text-decoration: none;
  text-wrap: nowrap;
  font-size: 18px;

  &.active {
    color: $accent-main;
    border-bottom: 2px solid $accent-main;
    background: rgba($accent-main, 0.05);
    font-weight: 700;
  }

  &:hover {
    border-color: $accent-main;
    background: rgba($accent-main, 0.03);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba($accent-main, 0.15);
  }

  &:active {
    transform: translateY(0);
  }
}

.character-icons {
  display: flex;
  justify-content: center;
  gap: 16px;  
}