.image-items{
  position: relative;
  max-width: 1280px;
  padding-top: 60px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 36px;
}

.add-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 220px;
  background-color: #e6e6ff;
  border-radius: 16px;
  font-size: 48px;
  color: #333;
  cursor: pointer;
}