.search-bar-section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 16px;
  width: 100%;
  max-width: 1000px;
  margin: 150px auto 0;
  height: 45px;

  .search-bar {
    .search-input {
      width: 100%;
      padding: 10px;
      border: none;
      border-bottom: 1px solid #7f53f8;
      background-color: transparent;
      font-size: 14px;
      outline: none;
    }

    .list-of-suggestions {
      z-index: 10;
      position: absolute;
      top: 44px;
      background: rgba(149, 69, 255, 0.767);
      width: 100%;

      li {
        padding: 10px;
        cursor: pointer;
        list-style-type: none;

        &:hover {
          color: #ff5cbb;
        }
      }
    }
  }
}