@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.section-head {
  margin-bottom: 2.5rem;
}

.section-label {
  @include section-label-style;
}

.section-title {
  @include section-title-style;
  margin-bottom: 0;
}

.action-button {
  @include btn-base;
  text-decoration: none;
  font-family: inherit;

  &--primary {
    @include btn-primary;
  }

  &--ghost {
    @include btn-ghost;
  }

  &--action {
    background-color: #ffffff02;
    border: none;
    transform: translateY(-2px);
    font-size: 13px;

    &:hover {
      border-color: #e0b0ff;
      transform: translateY(-2px);
      box-shadow: 0 4px 12px #da70d64d;
      background-color: #1616160a;
    }
  }

  &--standard {
    background-color: #322a63;
    color: #fff;

    &:hover {
      background-color: #282241;
    }
  }
}